body {
  font-size: 16px;
}

header {
  height: 100px;
  background-color: darkcyan;
  color: white;
}

nav {
  height: 80px;
  background-color: darkgoldenrod;
}

.lvl-1 {
  z-index: 2;
}

.lvl-2 {
  z-index: 3;
}

.lvl-3 {
  z-index: 4;
}

.container-items {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.container-items-1 {
  height: 200px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}

.container-items-2 {
  height: 300px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}

.container-items-3 {
  height: 400px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}

.draggable-box {
  background: green;
  height: 90%;
  width: 90%;
  right: 0;
  top: 0;
}

.item {
  background-color: grey;
}

.toolbar {
  background-color: black;
  height: 100px;
}

.droptarget {
  background-color: rgb(225, 225, 225);
  height: 100px;
}

.btn-header {
  height: 100%;
}

.dropTargetInAction {
  height: 100%;
  width: 100%;
}

.cloningzone {
  height: 100px;
  width: 100px;
  background-color: black;
  color: white;
  visibility: hidden;
}

.grid-1 {
  background-color: blvisibilityue;
  border: 2px solid green;
}

main {
  border: 5px solid green;
  padding-right: 2%;
}

.renderpdf {
  position: fixed;
  left: 0vh;
}

.toppdfviewer {
  height: 15px;
  background-color: black;
  margin-left: 5%;
  margin-right: 90%;
}

.btncheckbox {
  color: white;
}

.dateTime {
  color: white;
}

.page {
  border: 5px solid purple;
  height: 1810px;
}

.tableContainer {
  height: auto;
  border: 5px solid #00f2ff;
  background-color: red;
  height: 470px;
}

.containerItems {
  border: 5px solid yellow;
  cursor: move;
  height: 150px;
}

.hide {
  visibility: hidden;
}

.draggable {
  touch-action: none;
  /* This makes things *much* easier */
  box-sizing: border-box;
}

.new-item {
  border-radius: 8px;
  padding: 20px;
  margin: 1rem;
  font-size: 20px;
  font-family: sans-serif;
  touch-action: none;
  /* This makes things *much* easier */
  box-sizing: border-box;
}

.new-item:hover {
  opacity: 75%;
  cursor: pointer;
}

.zone {
  max-height: 500px;
  max-width: 500px;
  height: 50px;
  width: 50px;
  background-color: rgba(212, 135, 135, 0.7450980392);
  opacity: 100%;
  resize: both;
  overflow: auto;
}

.zone:hover {
  opacity: 50%;
}

.element:hover {
  opacity: 75%;
}

.selected {
  border: 5px solid red;
}

/* -------------------------- Item section */
.gridSnap {
  width: 200px;
  border-radius: 8px;
  padding: 20px;
  margin: 1rem;
  background-color: #29e;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  touch-action: none;
  /* This makes things *much* easier */
  box-sizing: border-box;
}

.textAreaInput {
  width: 100%;
  height: 50px;
}

.textAreaBorder {
  width: 100%;
  height: auto;
  padding: 20px;
  background-color: transparent;
  /* This makes things *much* easier */
  box-sizing: border-box;
}

.textAreaBorder:hover {
  background-color: rgba(78, 78, 78, 0.13);
}

textarea {
  border: none !important;
}

/* --------------------------- */
.resizable {
  background: white;
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: 10px;
  left: 10px;
}

.resizable .resizers {
  width: 100%;
  height: 100%;
  border: 3px solid #4286f4;
  box-sizing: border-box;
}

.resizable .resizers .resizer {
  width: 10px;
  height: 10px;
  border-radius: 50%; /*magic to turn square into circle*/
  background: white;
  border: 3px solid #4286f4;
  position: absolute;
}

.resizable .resizers .resizer.top-left {
  left: -5px;
  top: -5px;
  cursor: nwse-resize; /*resizer cursor*/
}

.resizable .resizers .resizer.top-right {
  right: -5px;
  top: -5px;
  cursor: nesw-resize;
}

.resizable .resizers .resizer.bottom-left {
  left: -5px;
  bottom: -5px;
  cursor: nesw-resize;
}

.resizable .resizers .resizer.bottom-right {
  right: -5px;
  bottom: -5px;
  cursor: nwse-resize;
}

.scalable {
  background: brown;
  height: auto;
  position: absolute;
}

.scalable .scalers {
  width: 100%;
  height: 100%;
  border: 3px solid #4286f4;
  box-sizing: border-box;
}

.scalable .scalers .scaler {
  width: 10px;
  height: 10px;
  border-radius: 50%; /*magic to turn square into circle*/
  background: white;
  border: 3px solid #4286f4;
  position: absolute;
}

.scalable .scalers .scaler.left {
  left: -5px;
  top: 50%;
  cursor: w-resize; /*resizer cursor*/
}

.scalable .scalers .scaler.right {
  right: -5px;
  top: 50%;
  cursor: e-resize;
}

.scalable .scalers .scaler.top-left {
  left: -5px;
  top: -5px;
  cursor: nwse-resize; /*resizer cursor*/
}

.scalable .scalers .scaler.top-right {
  right: -5px;
  top: -5px;
  cursor: nesw-resize;
}

.scalable .scalers .scaler.bottom-left {
  left: -5px;
  bottom: -5px;
  cursor: nesw-resize;
}

.scalable .scalers .scaler.bottom-right {
  right: -5px;
  bottom: -5px;
  cursor: nwse-resize;
} /*# sourceMappingURL=style.css.map *//*# sourceMappingURL=style.css.map */